<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 class="page-heading">EDIT DEAL</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Deals & Promotions</a>
            </li>

            <li class="active">
                <strong>Edit Deal</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-6">
                <table class="zt table table-table issue-tracker">
                    <tbody>
                    <tr>
                        <td class="col-md-5">
                            <span class="item-note">TITLE</span>
                        </td>
                        <td class="col-md-6" colspan="2">
                            <span class="item">50% off for your first service</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5">
                            <span class="item-note">STATUS</span>
                        </td>
                        <td class="col-md-6">
                            <span class="item">Active</span>
                        </td>
                        <td class="col-md-1 text-right">
                            <span class="sub header text-capitalize"><img src="assets/images/icons/arrow-down-mini-copy-3.svg"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5">
                            <span class="item-note">SERVICE</span>
                        </td>
                        <td class="col-md-6">
                            <span class="item">Service A</span>
                        </td>
                        <td class="col-md-1 text-right">
                            <span class="sub header text-capitalize"><img src="assets/images/icons/arrow-down-mini-copy-3.svg"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5">
                            <span class="item-note">DUE DATE</span>
                        </td>
                        <td class="col-md-6">
                            <span class="item">01/30/2016 A</span>
                        </td>
                        <td class="col-md-1 text-right">
                            <span class="sub header text-capitalize"><img src="assets/images/icons/arrow-down-mini-copy-3.svg"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5">
                            <span class="item-note">LIMITED QUANTITY</span>
                        </td>
                        <td class="col-md-6">
                            <span class="item">500</span>
                        </td>
                        <td class="col-md-1 text-right">
                            <span class="sub header text-capitalize"><img src="assets/images/icons/arrow-down-mini-copy-3.svg"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5 no-border-bottom align-top" rowspan="3" >
                            <span class="item-note">PAY WITH</span>
                        </td>
                        <td class="col-md-8 no-border-bottom">
                            <img alt="image" class="" src="assets/images/icons/icon-radio-on.svg">
                            <span class="item m-l-xs">Due date</span>
                        </td>
                    </tr>
                    <tr>

                        <td class="col-md-8 no-border-bottom">
                            <img alt="image" class="" src="assets/images/icons/check-off.svg">
                            <span class="item m-l-xs">Limited quantity</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-8 no-border-bottom">
                            <img alt="image" class="" src="assets/images/icons/check-off.svg">
                            <span class="item m-l-xs">First reached</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="zt table table-table issue-tracker">
                    <tbody>
                    <tr>
                        <td class="col-md-5">
                            <span class="item-note">QUANTITY LEFT</span>
                        </td>
                        <td class="col-md-7">
                            <span class="item">403</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5">
                            <span class="item-note">COMENTS</span>
                        </td>
                        <td class="col-md-7">
                            <span class="item">11</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4 align-top">
                            <span class="item-note">IMAGE</span>
                        </td>
                        <td class="col-md-8 p-b-16 p-t-16 ">
                            <img src="assets/images/avatars/a4.jpg" class="image-square m-l-n-xxl">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5 no-border-bottom" colspan="2">
                            <span class="item-note">FINEPRINT</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-12 no-padding no-border-bottom" colspan="3">
                            <span class="blacktext ">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea commodo consequat.
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-primary m-t-md m-r-xl">
                Cancel <img class="m-l-xs" src="assets/images/icons/icon-cancel.svg" alt="">
            </a>
            <button type="submit" class="btn btn-primary m-t-md">
                Save <img class="m-l-xs" src="assets/images/icons/icon-save.svg" alt="">
            </button>
        </div>
    </div>
</div>