.idea
/vendor
.env
/node_modules
/public/storage
Homestead.yaml
Homestead.json
bower_components
node_modules
.tmp
/public/build
/public/css
/public/js
/public/scripts
/public/styles
/public/fonts
/public/index.html
config.json