h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1 {
  font-size: $text-size-1;
}

h2 {
  font-size: $text-size-2;
}

h3 {
  font-size: $text-size-3;
}

h4 {
  font-size: $text-size-4;
}

h5 {
  font-size: $text-size-5;
}

h6 {
  font-size: $text-size-6;
}



.zt {
  &.text-size-1 {
    font-size: $text-size-1;
  }
  &.text-size-2 {
    font-size: $text-size-2;
  }
  &.text-size-3 {
    font-size: $text-size-3;
  }
  &.text-size-4 {
    font-size: $text-size-4;
  }
  &.text-size-5 {
    font-size: $text-size-5;
  }
  &.text-size-6 {
    font-size: $text-size-6;
  }
}