<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 class="page-heading">My Services</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">My Services</a>
            </li>

            <li class="active">
                <strong>Define Service</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content">
        <div class="col-md-10">
            <p class="header2 m-l-n">Baby Sitter</p>
        </div>
        <div class="col-md-2 text-right">
            <span class="zt label label-orange">ACTIVE</span>
        </div>
        <div class="row">
            <div class="clear">
                <div class="col-md-12">
                    <p class="header1 m-t">Overview</p>
                </div>
            </div>
            <div class="col-md-6">
                <table class="zt table table-table issue-tracker">
                    <tbody>
                    <tr>
                        <td class="col-md-5">
                            <span class="item-note">ACTIVE</span>
                        </td>
                        <td class="col-md-7">
                            <img src="assets/images/icons/switch-on.png">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5">
                            <span class="item-note">TITLE</span>
                        </td>
                        <td class="col-md-7">
                            <span class="item">New  Japanese Garden</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5">
                            <span class="item-note">DESCRIPTION</span>
                        </td>
                        <td class="col-md-7">
                            <span class="blacktext">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="zt table table-table issue-tracker">
                    <tbody>
                    <tr>
                        <td class="col-md-4" style="vertical-align:top">
                            <span class="item-note">IMAGE</span>
                        </td>
                        <td class="col-md-8">
                            <img src="assets/images/avatars/a4.jpg" class="image-square">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <span class="item-note">REMOTE SERVICE</span>
                        </td>
                        <td class="col-md-8">
                            <img src="assets/images/icons/switch-off.svg">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <p class="header1">Attachments</p>
            <table class="zt table table-table issue-tracker">
                <tbody>
                <tr>
                    <td class="col-md-1 text-center">
                        <img src="assets/images/icons/icon-public.svg">
                    </td>
                    <td class="col-md-10 text-left ">
                        <span class="item">Specification.doc</span>
                    </td>
                    <td class="col-md-1 text-right">
                        <img src="assets/images/icons/icon-delete.svg">
                    </td>
                </tr>
                <tr>
                    <td class="col-md-1 text-center">
                        <img src="assets/images/icons/icon-public.svg">
                    </td>
                    <td class="col-md-10 text-left">
                        <span class="item">Proposal.xls</span>
                    </td>
                    <td class="col-md-1 text-right">
                        <img src="assets/images/icons/icon-delete.svg">
                    </td>
                </tr>
                <tr>
                    <td class="col-md-1 text-center">
                        <img src="assets/images/icons/icon-public.svg">
                    </td>
                    <td class="col-md-10 text-left">
                        <span class="item">Samples.jpg</span>
                    </td>
                    <td class="col-md-1 text-right">
                        <img src="assets/images/icons/icon-delete.svg">
                    </td>
                </tr>
                <tr>
                    <td class="col-md-1 text-center" colspan="3">
                        <img src="assets/images/icons/icon-add.svg">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <p class="header1">Notes</p>
            <p class="blacktext">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="text-center">
            <a class="btn btn-primary m-t-md m-r-xl">
                    Cancel <img class="m-l-xs" src="assets/images/icons/icon-cancel.svg" alt="">
            </a>
            <button type="submit" class="btn btn-primary m-t-md">
                    Save <img class="m-l-xs" src="assets/images/icons/icon-save.svg" alt="">
            </button>
        </div>
    </div>
</div>