<div id="password-email">
    <div class="top">
        <img src="assets/images/ezier-logo-large.png" alt="Ezier service marketplace">
        <p>
            The Marketplace that promotes service
            excellence through credibility and reputation
            between customers and providers
        </p>
    </div>
    <form class="form-horizontal" password-email="ctrl.email">
        <p>Forgot Password</p>
        <div class="form-group">
            <label class="control-label col-sm-3">Email</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="ctrl.email">
            </div>
        </div>
        <hr>
        <p>
            <button type="submit" class="btn btn-primary">
               Send <img src="assets/images/icons/icon-send.svg" alt="">
            </button>
        </p>
    </form>
</div>