<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 class="page-heading">AUTHORIZE EZIER</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Invite a Friend</a>
            </li>
            <li class="active">
                <strong>Authorize EZIER</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-12">
                <table class="zt table table-table issue-tracker">
                    <tbody>
                    <tr>
                        <td class="col-md-2">
                            <span class="item-note">EMAIL/USERNAME</span>
                        </td>
                        <td class="col-md-10" colspan="2">
                            <input type="text" placeholder="Email/Username" class="no-borders item-input">
                        </td>
                    </tr>
                    <tr>
                        <td class="no-border-bottom">
                            <span class="item-note">PASSWORD</span>
                        </td>
                        <td class="no-border-bottom" colspan="2">
                            <input type="password" placeholder="Password" class="no-borders item-input">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center col-md-12">
                <a class="btn btn-primary m-t-md m-r-xl">
                    Cancel <img class="m-l-xs" src="assets/images/icons/icon-cancel.svg" alt="">
                </a>
                <button type="submit" class="btn btn-primary m-t-md" ui-sref="index.facebook-friends">
                    Accept <img class="m-l-xs" src="assets/images/icons/icon-save.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>
