<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 class="page-heading">FACEBOOK FRIENDS</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Invite a Friend</a>
            </li>
            <li class="active">
                <strong>Facebook Friends</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4 m-t-lg">
        <div class="input-group zt search">
            <input type="text" placeholder="Search Friends" class="input form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn btn-primary"><i class="ezier-icon-zoom"></i>
                    </button>
                </span>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">

                <div>
                    <table class="zt table table-list issue-tracker">
                        <tbody>
                        <tr>
                            <td class="col-md-1">
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td class="col-md-9">
                                <a href="#" class="header">
                                    Stacy Martin
                                </a>
                                <span class="sub header text-uppercase">
                                    ACCOUNTANT
                                </span>
                            </td>
                            <td class="text-right col-md-2">
                                <div class="dropdown right" dropdown>
                                    <img src="assets/images/icons/check-off.svg">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-1">
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td class="col-md-9">
                                <a href="#" class="header">
                                    Douglas & Co.
                                </a>
                                <span class="sub header text-uppercase">
                                    LAWYER
                                </span>
                            </td>
                            <td class="text-right col-md-2">
                                <div class="dropdown right" dropdown>
                                    <img src="assets/images/icons/check-on.svg">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-1">
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td class="col-md-9">
                                <a href="#" class="header">
                                    ABC Computer LLC
                                </a>
                                <span class="sub header text-uppercase">
                                    BUILDER CONTRACTOR
                                </span>
                            </td>
                            <td class="text-right col-md-2">
                                <div class="dropdown right" dropdown>
                                    <img src="assets/images/icons/check-off.svg">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-1">
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td class="col-md-9">
                                <a href="#" class="header">
                                    Douglas Coppeland
                                </a>
                                <span class="sub header text-uppercase">
                                    CLEANING SERVICES
                                </span>
                            </td>
                            <td class="text-right col-md-2">
                                <div class="dropdown right" dropdown>
                                    <img src="assets/images/icons/check-on.svg">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-1">
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td class="col-md-9">
                                <a href="#" class="header">
                                    Stacy Martin
                                </a>
                                <span class="sub header text-uppercase">
                                    ACCOUNTANT
                                </span>
                            </td>
                            <td class="text-right col-md-2">
                                <div class="dropdown right" dropdown>
                                    <img src="assets/images/icons/check-on.svg">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-1">
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td class="col-md-9">
                                <a href="#" class="header">
                                    John Boo
                                </a>
                                <span class="sub header text-uppercase">
                                    LAWYER
                                </span>
                            </td>
                            <td class="text-right col-md-2">
                                <div class="dropdown right" dropdown>
                                    <img src="assets/images/icons/check-on.svg">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-1 no-border-bottom">
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td class="col-md-9 no-border-bottom">
                                <a href="#" class="header">
                                    ABC Computer LLC
                                </a>
                                <span class="sub header text-uppercase">
                                    BUILDER CONTRACTOR
                                </span>
                            </td>
                            <td class="text-right col-md-2 no-border-bottom">
                                <div class="dropdown right" dropdown>
                                    <img src="assets/images/icons/check-off.svg">

                                </div>
                            </td>
                        </tr>

                        <tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center col-md-12">
                    <button type="submit" class="btn btn-primary">
                        Send Invite <img class="m-l-xs" src="assets/images/icons/icon-send.svg" alt="">
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
