<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 class="page-heading">Friends</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li class="active">
                <strong>Friends</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4 m-t-lg">
        <div class="input-group zt search">
            <input type="text" placeholder="Search Friends" class="input form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn btn-primary"><i class="ezier-icon-zoom"></i>
                    </button>
                </span>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="m-b">
                    <div class="row">
                        <div class="col-sm-12 m-b-xs">
                            <div class="zt label-group left">
                                <label>View: </label>
                                <a class="zt label label-primary">All</a>
                                <a class="zt label label-disabled"> Pending Invites</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="zt table table-list issue-tracker">
                        <tbody>
                        <tr ui-sref="index.friend-profile">
                            <td class="col-md-2">
                                <span class="zt label label-yellow">GOLD</span>
                            </td>
                            <td class="col-md-1">
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td class="col-md-7">
                                <a href="#" class="header">
                                    Stacy Martin
                                </a>
                                <span class="sub header text-uppercase">
                                    ACCOUNTANT
                                </span>
                            </td>
                            <td class="text-right col-md-2">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="zt label label-gray">SILVER</span>
                            </td>
                            <td>
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td>
                                <a href="#" class="header">
                                    <br>
                                </a>

                                <span class="sub header text-uppercase">
                                    LAWYER
                                </span>
                            </td>

                            <td class="text-right">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="zt label label-orange">BRONZE</span>
                            </td>
                            <td>
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td>
                                <a href="#" class="header">
                                    ABC Computer LLC
                                </a>

                                <span class="sub header text-uppercase">
                                    BUILDER CONTRACTOR
                                </span>
                            </td>
                            <td class="text-right">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="zt label label-blue">STARTER</span>
                            </td>
                            <td>
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td>
                                <a href="#" class="header">
                                    Douglas Coppeland
                                </a>

                                <span class="sub header text-uppercase">
                                    CLEANING SERVICES
                                </span>
                            </td>
                            <td class="text-right">

                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-1">
                                <span class="zt label label-yellow">GOLD</span>
                            </td>
                            <td class="col-md-1">
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td class="col-md-8">
                                <a href="#" class="header">
                                    Stacy Martin
                                </a>
                                <span class="sub header text-uppercase">
                                    ACCOUNTANT
                                </span>
                            </td>
                            <td class="text-right col-md-2">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="zt label label-gray">SILVER</span>
                            </td>
                            <td>
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td>
                                <a href="#" class="header">
                                    John Boo
                                </a>
                                <span class="sub header text-uppercase">
                                    LAWYER
                                </span>
                            </td>
                            <td class="text-right">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="zt label label-orange">BRONZE</span>
                            </td>
                            <td>
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td>
                                <a href="#" class="header">
                                    ABC Computer LLC
                                </a>

                                <span class="sub header text-uppercase">
                                    BUILDER CONTRACTOR
                                </span>
                            </td>
                            <td class="text-right">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="no-border-bottom">
                                <span class="zt label label-blue">STARTER</span>
                            </td>
                            <td class="no-border-bottom">
                                <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg">
                            </td>
                            <td class="no-border-bottom">
                                <a href="#" class="header">
                                    Douglas Coppeland
                                </a>

                                <span class="sub header text-uppercase">
                                    CLEANING SERVICES
                                </span>
                            </td>
                            <td class="text-right no-border-bottom">

                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center">
                    <a class="" ui-sref="index.invite-friend">
                        <img src="assets/images/icons/icon-add.svg">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
