<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 class="page-heading">FRIEND PROFILE</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Friends</a>
            </li>

            <li class="active">
                <strong>Friend Profile</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight no-padding-bottom">
    <div class="row">
        <div class="relative col-md-1">
            <div class="second-one">
                <img  class="image zt avatar avatar-lg avatar-border" src="assets/images/avatars/a4.jpg"> </div>
            <div class="first-one">
                <img class="zt avatar avatar-xxs avatar-border blue-main" src="assets/images/icons/icon-camera.svg"> </div>
        </div>
        <div class="col-md-9">
            <p class="header2">Douglas Coppenland</p>
            <p class="zt label label-blue">
                STARTER
            </p>
        </div>

        <div class="col-md-2">
            <table class="">
                <tbody>
                <tr>
                    <td class="col-md-10">
                        <span class="item-note">SCORE:</span>
                    </td>
                    <td class="col-md-2">
                        <span class="item text-capitalize"><strong>7.5</strong></span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-10">
                        <span class="item-note">FEEDBACK:</span>
                    </td>
                    <td class="col-md-2">
                        <div class="font-yellow">★★★</div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-10">
                        <span class="item-note">POINTS:</span>
                    </td>
                    <td class="col-md-2">
                        <span class="item text-capitalize"><strong>122</strong></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- INFO -->

    <div class="wrapper wrapper-content animated fadeInRight no-padding-bottom">
        <div class="row">
            <div class="col-lg-12">


                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="zt table table-table issue-tracker">
                                <thead>
                                <tr>
                                    <td colspan="3" class="title">Account Information</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="col-md-6">
                                        <span class="item-note">FIRST NAME</span>
                                    </td>
                                    <td class="col-md-6" colspan="2">
                                        <span class="item-input">Douglas</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">
                                        <span class="item-note">SECOND NAME</span>
                                    </td>
                                    <td class="col-md-6" colspan="2">
                                        <span class="item-input">Coppeland</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">
                                        <span class="item-note">EMAIL</span>
                                    </td>
                                    <td class="col-md-6" colspan="2">
                                        <span class="item-input">dcoppeland@gmail.com</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6 no-border-bottom" style="vertical-align:top">
                                        <span class="item-note">ABOUT ME</span>
                                    </td>
                                    <td class="col-md-6 no-border-bottom" colspan="2">
                                        <span class="blacktext">Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit,
                                            sed do eiusmod tempor incididunt
                                            ut labore et dolore magna aliqua. </span>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="zt table table-table issue-tracker">
                                <thead>
                                <tr>
                                    <td colspan="3" class="title">Contact Information</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="col-md-6">
                                        <span class="item-note">COUNTRY</span>
                                    </td>
                                    <td class="col-md-5">
                                        <span class="item-input">United States of America</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">
                                        <span class="item-note">ADDRESS</span>
                                    </td>
                                    <td class="col-md-6" colspan="2">
                                        <span class="item-input">123 Avenue Street</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">
                                        <span class="item-note">APT/SUITE</span>
                                    </td>
                                    <td class="col-md-6" colspan="2">
                                        <span class="item-input">123</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">
                                        <span class="item-note">ZIP CODE</span>
                                    </td>
                                    <td class="col-md-6" colspan="2">
                                        <span class="item-input">3453453</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">
                                        <span class="item-note">CITY</span>
                                    </td>
                                    <td class="col-md-6" colspan="2">
                                        <span class="item-input">Frisco</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">
                                        <span class="item-note">STATE/REGION</span>
                                    </td>
                                    <td class="col-md-6" colspan="2">
                                        <span class="item-input">Texas</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">
                                        <span class="item-note">PHONE</span>
                                    </td>
                                    <td class="col-md-6" colspan="2">
                                        <span class="item-input">(123) 123 123 123</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">
                                        <span class="item-note">ADDITIONAL PHONE</span>
                                    </td>
                                    <td class="col-md-6" colspan="2">
                                        <span class="item-input"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6 no-border-bottom">
                                        <span class="item-note">WEBSITE</span>
                                    </td>
                                    <td class="col-md-6 no-border-bottom" colspan="2">
                                        <span class="item-input">www.dcoppeland.com</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div></div>

