<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 class="page-heading">INVITE A FRIEND</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>

            <li class="active">
                <strong>Invite a Friend</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-6">
                <table class="zt table table-table issue-tracker">
                    <thead>
                    <tr>
                        <td colspan="2" class="title">Social Networks</td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ui-sref="index.authorize-ezier">
                        <td class="col-md-10">
                            <span class="item">Facebook</span>
                        </td>
                        <td class="col-md-2 text-right">
                            <span class="sub header text-capitalize"><img src="assets/images/icons/icon-more.svg"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-10">
                            <span class="item">Google+</span>
                        </td>
                        <td class="col-md-2 text-right">
                            <span class="sub header text-capitalize"><img src="assets/images/icons/icon-more.svg"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-10">
                            <span class="item">Twitter</span>
                        </td>
                        <td class="col-md-2 text-right">
                            <span class="sub header text-capitalize"><img src="assets/images/icons/icon-more.svg"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-10 no-border-bottom">
                            <span class="item">Linkedin</span>
                        </td>
                        <td class="col-md-2 text-right no-border-bottom">
                            <span class="sub header text-capitalize"><img src="assets/images/icons/icon-more.svg"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="zt table table-table issue-tracker">
                    <thead>
                    <tr>
                        <td colspan="2" class="title">Email</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="no-border-bottom">
                            <textarea class="no-borders full-width h-80" placeholder="Type here your friends’ emails separated by commas"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center no-border-bottom">
                            <a class="btn btn-primary m-t-md m-r-xl">
                                Send Invite <img class="m-l-xs" src="assets/images/icons/icon-send.svg" alt="">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
