<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 class="page-heading">CLAIMS</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li class="active">
                <strong>Claims</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4 m-t-lg">
        <div class="input-group zt search">
            <input type="text" placeholder="Search Claims" class="input form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn btn-primary"><i class="ezier-icon-zoom"></i>
                    </button>
                </span>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="m-b">
                    <div class="row">
                        <div class="col-sm-12 m-b-xs">
                            <div class="zt label-group left">
                                <label>View: </label>
                                <a class="zt label label-primary">All</a>
                                <a class="zt label label-disabled">Open</a>
                                <a class="zt label label-disabled">Positive</a>
                                <a class="zt label label-disabled">Negative</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <table class="zt table table-list issue-tracker">
                        <tbody>
                        <tr>
                            <td class="col-md-1">
                                <span class="zt label label-yellow">OPEN</span>
                            </td>
                            <td class="col-md-4">
                                <a href="#" class="header">
                                    Delivery delayed
                                </a>
                                <span class="sub header text-uppercase">
                                    SUSAN SARANDON
                                </span>
                                 <span class="text-uppercase l-h-xs">
                                    JOB: NEW JAPANESE GARDEN
                                </span>
                            </td>
                            <td class="col-md-3 text-center l-h-xs">
                                Opened: 12/18/2015
                            </td>
                            <td class="col-md-3 text-center l-h-xs">
                                <img src="assets/images/icons/icon-alert.svg" class="m-r-xs">
                                <strong>Deadline: 12/18/2015</strong>
                            </td>
                            <td class="text-right col-md-1">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-1">
                                <span class="zt label label-green">POSITIVE</span>
                            </td>
                            <td class="col-md-4">
                                <a href="#" class="header">
                                    Low quality
                                </a>
                                <span class="sub header text-uppercase">
                                    JOHN BOO
                                </span>
                                 <span class="text-uppercase l-h-xs">
                                    JOB: NEW FENCE
                                </span>
                            </td>
                            <td class="col-md-3 text-center l-h-xs">
                                Opened: 15/12/2015
                            </td>
                            <td class="col-md-3 text-center l-h-xs">
                                Closed: 15/12/2015
                            </td>
                            <td class="text-right col-md-1">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-1">
                                <span class="zt label label-red">NEGATIVE</span>
                            </td>
                            <td class="col-md-4">
                                <a href="#" class="header">
                                    No answers when calling
                                </a>
                                <span class="sub header text-uppercase">
                                    BY ME
                                </span>
                                 <span class="text-uppercase l-h-xs">
                                    JOB: NEW FENCE
                                </span>
                            </td>
                            <td class="col-md-3 text-center l-h-xs">
                                Opened: 15/12/2015
                            </td>
                            <td class="col-md-3 text-center l-h-xs">
                                Closed: 15/12/2015
                            </td>
                            <td class="text-right col-md-1">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-1 no-border-bottom">
                                <span class="zt label label-white">DRAFT</span>
                            </td>
                            <td class="col-md-4 no-border-bottom">
                                <a href="#" class="header">
                                    Payment delayed
                                </a>
                                <span class="sub header text-uppercase">
                                    BY ME
                                </span>
                                 <span class="text-uppercase l-h-xs">
                                    JOB: NEW FENCE
                                </span>
                            </td>
                            <td class="col-md-3 text-center l-h-xs no-border-bottom">
                                Opened: 15/12/2015
                            </td>
                            <td class="col-md-3 text-center l-h-xs no-border-bottom">
                            </td>
                            <td class="text-right col-md-1 no-border-bottom">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center col-md-12">
                    <a class="">
                        <img src="assets/images/icons/icon-add.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
