
.ezier-icon-filter:before { content: '\e800'; } /* '' */
.ezier-icon-more:before { content: '\e801'; } /* '' */
.ezier-icon-claims:before { content: '\e802'; } /* '' */
.ezier-icon-zoom:before { content: '\e803'; } /* '' */
.ezier-icon-my-customers:before { content: '\e804'; } /* '' */
.ezier-icon-deals:before { content: '\e805'; } /* '' */
.ezier-icon-calendar:before { content: '\e806'; } /* '' */
.ezier-icon-auctions:before { content: '\e807'; } /* '' */
.ezier-icon-requests:before { content: '\e808'; } /* '' */
.ezier-icon-jobs:before { content: '\e809'; } /* '' */
.ezier-icon-help:before { content: '\e80a'; } /* '' */
.ezier-icon-inbox:before { content: '\e80b'; } /* '' */
.ezier-icon-costumer-service:before { content: '\e80c'; } /* '' */
.ezier-icon-analytics:before { content: '\e80d'; } /* '' */