/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  Font-Awesome support
 *  Source: https://github.com/Swiip/generator-gulp-angular/issues/337
 */
$fa-font-path: "../../bower_components/fontawesome/fonts";
@import "../../bower_components/fontawesome/scss/font-awesome";

$icon-font-path: '../../bower_components/bootstrap-sass/assets/fonts/bootstrap/';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

$nav-profil-pattern: url("../assets/images/patterns/header-profile.png") no-repeat;
@import "sass/theme";