<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 class="page-heading">Compose Message</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a>Inbox</a>
            </li>
            <li class="active">
                <strong>Compose Message</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div>
                    <table class="zt table table-list issue-tracker">
                        <tbody>
                        <tr>
                            <td class="col-md-6">
                                <div class="col-sm-3">
                                    <span class="item-note text-uppercase">
                                    To
                                    </span>
                                </div>
                                <div class="col-sm-6">
                                    Write recipient name
                                </div>
                                <div class="col-sm-3">
                                    <span><img src="assets/images/icons/icon-add.svg"></span>
                                </div>

                            </td>
                            <td class="col-md-3 text-left">
                            </td>
                            <td class="text-right col-md-3">
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">
                                <a href="#" class="header">
                                    New Message
                                </a>
                                <span class="sub header text-uppercase">
                                    John Boo
                                </span>
                                <span class="sub text-uppercase">
                                    Request: new fence
                                </span>
                            </td>
                            <td class="col-md-3 text-center">
                                15/12/2015 @8:13am
                            </td>
                            <td class="text-right col-md-3">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">
                                <a href="#" class="header">
                                    New Quote dorm John Boo
                                </a>
                                <span class="sub header text-uppercase">
                                    Ezier
                                </span>
                                <span class="sub text-uppercase">
                                    Request: new fence
                                </span>
                            </td>
                            <td class="col-md-3 text-center">
                                15/18/2015 @8:13am
                            </td>
                            <td class="text-right col-md-3">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">
                                <a href="#" class="header">
                                    Pending Review to kimberly gordon
                                </a>
                                <span class="sub header text-uppercase">
                                    Ezier
                                </span>
                                <span class="sub text-uppercase">
                                    Job: garden improvement
                                </span>
                            </td>
                            <td class="col-md-3 text-center">
                                12/18/2015 @8:13am
                            </td>
                            <td class="text-right col-md-3">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
