<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 class="page-heading">Inbox</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li class="active">
                <strong>Inbox</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4 m-t-lg">
        <div class="input-group zt search">
            <input type="text" placeholder="Search Messages" class="input form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn btn-primary"><i class="ezier-icon-zoom"></i>
                    </button>
                </span>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="m-b">
                    <div class="row">
                        <div class="col-sm-12 m-b-xs">
                            <div class="zt label-group left">
                                <label>View: </label>
                                <a class="zt label label-primary">All</a>
                                <a class="zt label label-disabled">Unread</a>
                                <a class="zt label label-disabled">Read</a>
                                <a class="zt label label-disabled">Sent</a>
                                <a class="zt label label-disabled">Draft</a>
                            </div>
                            <div class="filter-dropdown right" dropdown>
                                <button type="button" class="btn btn-primary" aria-expanded=true>
                                    <img src="assets/images/icons/icon-compose.svg">
                                    Compose message
                                </button>

                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <table class="zt table table-list issue-tracker">
                        <tbody>
                        <tr>
                            <td class="col-md-6">
                                <div class="label-no-read"> </div>
                                <div class="label-table">
                                    <a href="#" class="header">
                                        New Claim form Eduardo Garcia
                                    </a>
                                    <span class="sub header text-uppercase">
                                        Ezier
                                    </span>
                                    <span class="sub text-uppercase">
                                        Job: new japanese garden
                                    </span>
                                </div>
                            </td>
                            <td class="col-md-3 text-center">
                                12/18/2015 @8:13am
                            </td>
                            <td class="text-right col-md-3">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6 no-border-bottom">
                                <div class="label-no-read"> </div>
                                <div class="label-table">
                                    <a href="#" class="header">
                                        New Message
                                    </a>
                                    <span class="sub header text-uppercase">
                                        john boo
                                    </span>
                                    <span class="sub text-uppercase">
                                        request: new fence
                                    </span>
                                </div>
                            </td>
                            <td class="col-md-3 text-center no-border-bottom">
                                15/12/2015 @8:13am
                            </td>
                            <td class="text-right col-md-3 no-border-bottom">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img alt="image" class="zt avatar avatar-md avatar-border" src="assets/images/avatars/a4.jpg" width="40px" height="40px">
                                    </div>
                                    <div class="col-md-9 no-padding">
                                        <span class="steps2 text-uppercase">John Boo</span>
                                        <span class="m-l-xs">11:25am</span>
                                        <div class="p-xs m-b rectangle-message1">
                                        <span class="blacktext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                        </div>
                                        <div class="triangle-message1a"></div>
                                        <div class="triangle-message1b"></div>
                                    </div>
                                    <div class="col-md-2">
                                    </div>

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-md-6">
                                <div class="label-read"> </div>
                                <div class="label-table">
                                    <a href="#" class="header">
                                        New Quote form John Boo
                                    </a>
                                    <span class="sub header text-uppercase">
                                        Ezier
                                    </span>
                                    <span class="sub text-uppercase">
                                        request: new fence
                                    </span>
                                </div>
                            </td>
                            <td class="col-md-3 text-center">
                                15/18/2015 @8:13am
                            </td>
                            <td class="text-right col-md-3">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">
                                <div class="label-no-read"> </div>
                                <div class="label-table">
                                    <a href="#" class="header">
                                        Pending Review to Kimberly Gordon
                                    </a>
                                    <span class="sub header text-uppercase">
                                        Ezier
                                    </span>
                                    <span class="sub text-uppercase">
                                        Job: garden improvement
                                    </span>
                                </div>
                            </td>
                            <td class="col-md-3 text-center">
                                12/18/2015 @8:13am
                            </td>
                            <td class="text-right col-md-3">
                                <div class="dropdown right" dropdown>
                                    <a class="zt show-more" dropdown-toggle>
                                        <i class="ezier-icon-more"></i>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                        <li><a href="#">Option 4</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



