/*@mixin avatar($size, $border-radius, $border-width: 0, $border-color: transparent) {
  border-radius: $border-radius;
  width: $size;
  height: $size;
  border: $border-width solid $border-color;
}*/