<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li ui-sref-active="active">
                <a><i class="ezier-icon-my-customers"></i> <span class="nav-label">My Customers</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.requests_quotes"><i class="ezier-icon-requests"></i>
                    <span class="nav-label">Requests & Quotes</span>
                    <span class="label label-warning pull-right">10</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.deals-promotions"><i class="ezier-icon-deals"></i> <span class="nav-label">Deals y Promotions</span></a>
            </li>
            <li ui-sref-active="active">
                <a><i class="ezier-icon-auctions"></i> <span class="nav-label">Auctions & Bids</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.jobs"><i class="ezier-icon-jobs"></i>
                    <span class="nav-label">Jobs</span>
                    <span class="label label-warning pull-right">1</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.claims"><i class="ezier-icon-claims"></i>
                    <span class="nav-label">Claims</span>
                    <span class="label label-warning pull-right">3</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.my-services"><i class="ezier-icon-costumer-service"></i> <span class="nav-label">Customer service</span></a>
            </li>
            <li ui-sref-active="active">
                <a><i class="ezier-icon-analytics"></i> <span class="nav-label">Analytics & Reports</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="login"><i class="ezier-icon-deals"></i> <span class="nav-label">Login</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.profile"><i class="ezier-icon-deals"></i> <span class="nav-label">Profile</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.friends"><i class="ezier-icon-deals"></i> <span class="nav-label">Friends</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.settings"><i class="ezier-icon-deals"></i> <span class="nav-label">Settings</span></a>
            </li>
        </ul>
    </div>
</nav>
