<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="top-navigation-wrapper">
            <div class="navbar-header">
                <!--<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">-->
                    <!--<img src="assets/images/menu-trigger.svg" alt="">-->
                <!--</button>-->
                <a href="#" class="navbar-brand hidden-xs"><img src="assets/images/ezier-logo.png" alt=""></a>
                <a href="#" class="navbar-brand visible-xs"><img src="assets/images/ezier-only-logo.svg" alt=""></a>
                <minimaliza-sidebar></minimaliza-sidebar>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li><a href="" class="count-info" ui-sref="index.inbox"><i class="ezier-icon-inbox"></i><span class="label label-warning">8</span><span> INBOX</span></a></li>
                <li><a href=""><i class="ezier-icon-calendar"></i> <span>CALENDAR</span></a></li>
                <li><a href=""><i class="ezier-icon-help"></i> <span>HELP</span></a></li>
                <li class="dropdown" dropdown>
                    <a class="dropdown-toggle" href dropdown-toggle>
                        <img alt="image" class="pull-left zt avatar avatar-border avatar-dropdown" width="25" height="25" src="assets/images/avatars/a4.jpg">
                        <span>Stacey More</span> <span><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>